body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}

ul {
  list-style: none;
}

ul li::before {
  content: "\25FC";
  color: #f04836;
  margin-left: -1.1em;
}

.fa {
  padding: 5px;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  background: #f04836;
  color: white;
}


.fa:hover {
    background: white;
    color: black;
}

.footer {
    background-color: #f04836;
}
